@model ICollection<CapstoneProject.DomainModels.ToDoEntry>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["ResultOk"] != null)
{
        <h1 class="alert-success">@TempData["ResultOk"]</h1>
}

<div class="container shadow p-5">

    <h2 class="text-center mb-3">@ViewBag.ToDoListName</h2>

    <div class="col mb-3">
        <a asp-controller="ToDoEntry" asp-action="Create" asp-route-id="@ViewBag.ToDoListId" class="btn btn-lg btn-primary"><i class="bi bi-file-plus-fill"></i>Add Node</a>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Node Name</th>
                <th scope="col">Deadline</th>
                <th scope="col">CreatedOn</th>
                <th scope="col">Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count == 0)
            {
                <tr>
                    <td width="100%">
                        List is Empty yet ...
                    </td>
                </tr>
            }
            else
            {
            @foreach (var item in Model)
            {
                    <tr>
                        <td width="20%">
                        @item.Name
                        </td>
                        <td width="20%">
                        @item.DueDate
                        </td>
                        <td width="20%">
                        @item.CreatedDate
                        </td>
                        <td width="20%">
                        @item.Status
                        </td>
                        <td>
                            <div role="group" class="w-60 btn-group">
                                <a asp-controller="ToDoEntry" asp-action="Edit" asp-route-id="@item.Id" class=" btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i>Edit</a>&nbsp;
                                <a asp-controller="ToDoEntry" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i>Delete</a>
                            </div>
                        </td>
                    </tr>
            }
            }
        </tbody>
    </table>

    <a asp-controller="ToDoList" asp-action="Index" class="btn btn-lg btn-warning p-2">Back To List</a>
    <a asp-controller="ToDoEntry" asp-action="Index" asp-route-toDoListId="@ViewBag.ToDoListId" asp-route-status="@CapstoneProject.Enum.ToDoEntryStatus.Completed" class=" btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i>Show Completed</a>
    <a asp-controller="ToDoEntry" asp-action="Index" asp-route-toDoListId="@ViewBag.ToDoListId" class=" btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i>Hide Completed</a>
</div>
